input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
.el-input__wrapper {
  background-color: var(--blue-1200);
  .el-input__inner {
    color: var(--white);
  }
}
